<footer>
    <div class="socials">
     <a href="https://www.instagram.com/mchael.86?igsh=ODA1NTc5OTg5Nw=="><i data-feather="instagram"></i></a>
     <a href="https://www.instagram.com/mchael.86?igsh=ODA1NTc5OTg5Nw=="><i data-feather="facebook"></i></a>
     <a href="https://www.linkedin.com/in/achmad-michael-2b84b928b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i data-feather="linkedin"></i></a>
    </div>
 
    <div class="links">
     <a href="#home">Beranda</a>
     <a href="#about">Tentang Kami</a>
     <a href="#menu">Menu</a>
     <a href="#info">Informasi Kami</a>
    </div>
    <div class="credit">
     <p>Credit by <a href="">Achmad Michael Mushoharoin</a> | &copy; 2024</p>
    </div>
   </footer>